@tailwind base;
@tailwind components;
@tailwind utilities;

/* font family lust */

:root {
    --color-verde-adecco: #54c3bd;
}

.focus-verde {
    @apply focus:border-verde-adecco focus:outline-verde-adecco;
}

.btn-rounded {
    @apply rounded-lg text-lg bg-verde-adecco text-white flex items-center justify-center cursor-pointer border border-verde-adecco hover:bg-white hover:text-verde-adecco transition-all;
}
.btn-rounded.disabled {
    @apply cursor-default bg-transparent text-[#8987A1]  border-[#8987A1];
}

@font-face {
    font-family: "lust_regular";
    src: url("/public/fonts/lust/Lust-Regular.woff") format("woff");
}
@font-face {
    font-family: "Neutraface";
    src: url("/public/fonts/neutraface/NeutrafaceText-Book.woff") format("woff");
}
@font-face {
    font-family: "NeutrafaceBold";
    src: url("/public/fonts/neutraface/NeutrafaceText-Bold.woff") format("woff");
}

/* html {
    scroll-behavior: smooth;
} */

body {
    font-family: "Neutraface";
    color: #000;
    scroll-behavior: smooth;
}

.home {
    background: url("/public/img/bg_home.jpg") no-repeat center/cover;
    background-attachment: fixed;
}

.img-cover {
    mask-image: linear-gradient(black 50%, transparent);
}

.bocadillo:after {
    content: "";
    border-bottom: 2px dashed #54c3bd;
    border-right: 2px dashed #54c3bd;
    border-left: 0px dashed #54c3bd;
    background-color: #fff;
    position: absolute;
    right: -36px;
    top: 50%;
    width: 40px;
    height: 40px;
    transform: rotate(-45deg) translateY(-50%);
}

/* modificar estilo del rating de daisyUI */
.rating input:checked ~ input,
.rating input[aria-checked="true"] ~ input {
    /* --tw-bg-opacity: 0.2; */
    background-color: #ccc;
}

.number {
    @apply w-11 h-11 rounded-full font-semibold text-lg bg-white flex items-center flex-none justify-center cursor-pointer border border-black bg-gradient-to-r  hover:from-[#F5D66E] hover:to-[#54C3BD];
}
.number.selected {
    @apply bg-gradient-to-r  from-[#F5D66E] to-[#54C3BD];
}

.radio-custom {
    @apply radio radio-success pointer-events-none;
}

.number.word {
    @apply w-auto h-12 px-5 leading-tight;
}
